﻿@page
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                Bag<input type="text" id="userInput" />
                <br />
                @*Message...<input type="text" id="messageInput" />*@
                <input type="button" id="sendButton" value="Send Bag" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>

        <div class="row">

            <p>Clients Connected</p>
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="clients"></ul>
            </div>
        </div>

        <div class="row">

            <p>Trigger Echo</p>
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="echo"></ul>
            </div>
        </div>


        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>